<div th:replace="module/_header"></div>
<div class="wrapper">
    <div th:replace="module/_sidebar"></div>
    <div class="content-wrapper">
        <style>
            .form-horizontal .control-label {
                text-align: left;
            }
        </style>
        <section class="content-header">
            <h1>
                读取标签
            </h1>
        </section>
        <!-- tab选项卡 -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm" action="/rfid/read">保存</button>
                </div>
            </div>
        </section>

    </div>
</div>

<div th:replace="module/_footer"></div>
